.login-background {
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;
  background-color: #cccccc;
  position: relative;
}

// .login-form {
//   height: 100%;
//   width: 100%;
// }
