* {
    margin: 0;
    padding: 0;
    text-align: none;
}

form {
    text-align: center;
}

.mb-3 {
    margin: 20px;
    padding: 10px;
    height: 50px;
    width: 100%;
    align-items: center;
}


input.form-control {
    background: #7d7979;
    height: 30px;
    border-radius: 20px;
    text-align: center;
}

label {
    padding-right: 10px;
    font-weight: bold;
}

.btn {
    text-align: center;
}

button.btn.btn-secondary {
    background-color: #8f8c8c;
    margin-bottom: 10px;
}


a.active {
    background-color: none;
    background: none;
}

input.form-control {
    margin-right: 10px;
}