.wrapper {

    display: flex;
}

.Submission {
    width: 100%;
}

.wrapper h3 {
    text-align: center;
    font-weight: bold;
}

.icons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background: #c589ed;
    border-radius: 20px;
    margin-left: 20px;
}

.name .deadline_2 .deadline_1 {
    font-size: 25px;
    font-weight: bold;

}

.icon-cate {
    margin: 10px;
    font-size: 25px;

}

.input-page {
    text-align: center;
}

.input {
    padding: 20px;
    width: 100%;

}

.btn button {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.input input {
    background: #7d7979;
    color: #fff;
    height: 35px;
    border-radius: 20px;
    padding-left: 20px;
}
.btn-like {
    padding: 5px;
    background-color:#fff;
    border-radius: 25px;
}
.btn-dislike {
    padding: 5px;
    background-color:#fff;
    border-radius: 25px;
    margin-right: 25px;
}
.btn-detailslink {
    margin-right: 30px;
    float:left;
}
.btn button {
    background-color: #0d6efd;
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.header {
    margin: 25px;
}
.input-addidea {
    margin-left: 450px;
}
.button {
    margin-top: 18px;
}
.btn-create {
margin-right: 10px;
padding: 11px 18px;
background-color: royalblue;
border-radius: 20px;
color: white;
}
.btn-create:hover {
    background-color: dodgerblue;
}
.btn-callback{
    color: white;
    margin-left: 10px;
    padding: 11px 18px;
    background-color: #7d7979;
    border-radius: 20px;
}
.btn-callback:hover {
    background-color: #a09e9e;
    color: white;
}